<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let todo of todoList; let pos = index">

      <ion-item>
        <ion-checkbox [(ngModel)]="todo.done"></ion-checkbox>
        <ion-label>{{ todo.taskName }}</ion-label>
      </ion-item>

      <ion-item-options side="end">

        <ion-button color="danger" (click)="deleteTask(pos)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

        <ion-button (click)="showUpdateForm(pos)">
          <ion-icon name="create" ></ion-icon>
        </ion-button>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" href="/form">Nouvelle tâche</ion-button>
</ion-footer>